<div class="contact_container">

  <div class="contact_ticker">
    <p>There are <strong><%=@contacts.count%></strong> contacts</p>
  </div>

  <ul>
   <% @contacts.each do |contact| %>
      <li class = "contact_item">
        <a href="/contacts/<%= contact.id%>"> <%="#{contact.first_name}"%> <%="#{contact.last_name}"%> (<%="#{contact.email}"%>)</a>

        <p><a class="edit_delete" href="/contacts/<%= contact.id %>/edit">Edit</a> | <a class="edit_delete" href="/contacts/<%=contact.id%>/delete">Delete</a></p>
      </li>
   <%end%>
  </ul>

</div>
